#package-list-search{
    .search-input {
        position: absolute;
        right: 20px;
        height: 35px;
        top: 15px;
        #input{
            border: 1px solid #F4F4F4;
            padding: 10px;
            border-radius: 3px;
        }
    }
}