.vehicle-view {
    .driver-name-container {
        color: #fff;
        background-color: #254370;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 14px;
    }
    .driver-name-container:hover {
        cursor: default;
    }
    .zmdi-close-circle {
        font-size: 22px;
    }
    .zmdi-close-circle:hover {
        cursor: pointer;
    }
    .pmo-pic {
        #photo-container {
            margin-bottom: 20px !important;
        }
        div[photo-selector] .fileinput-preview.thumbnail.no-photo {
            width: 100%;
            height: 210px !important;
            border-bottom: 1px solid #EDEDED;
            .zmdi.zmdi-camera-bw {
                transform: translateY(289%);
            }
        }
    }
}
