$dark-primary-color    : #303F9F;
$default-primary-color : #254370;
$light-primary-color   : #C5CAE9;
$white                 : #FFFFFF;
$default-cean          : #0DB8B2;
$default-purple        : #5C3059;
$default-green         : #A8CF45;
$default-pink          : #BC3377;
$default-grey          : #373435;
$default-light-grey    : #BDBFC1;
$default-cean-paquery  : rgb(13, 184, 178);
$default-red-paquery   : #E83F33;