//COLORES
$color-estado-pendiente-retiro: #3366cc;
$color-estado-pendiente: #dc3912;
$color-estado-cancelado: #ff9900;
$color-estado-pendiente-entrega: #109618;
$color-estado-entregado: #990099;
$color-estado-pendiente-programar: #0099c6;
//DIMENSIONES
$col-md: 991px;
@import 'colors';
@import 'shared/icons/icons';
@import 'admin/sidebar/styles';
@import 'common';
@import 'front/login/styles';
@import 'front/register/styles';
@import 'front/register/validateCode/styles';
@import 'front/packages/packages/styles';
@import 'front/packages/packageStatus/styles';
@import 'front/addresses/styles';
@import 'front/addresses/editAddress/styles';
@import 'front/sidebar/styles';
@import 'front/receivePackage/styles';
@import 'front/packages/package/styles';
@import 'front/profile/styles';
@import 'front/sendPackage/styles';
@import 'shared/googleMapDirective/styles';
@import 'shared/paqueryMap/styles';
@import 'shared/inputAddress/styles';
@import 'shared/paginableSelector/styles';
@import 'admin/login/styles';
@import 'admin/logs/exceptionModal/styles';
@import 'admin/packages/package/styles';
@import 'admin/packages/packageStatus/styles';
@import 'admin/vehicles/driverSelector/styles';
@import 'admin/vehicles/vehicle/styles';
@import 'admin/logs/logs/styles';
@import 'admin/notifications/notification/styles';
@import 'admin/packages/package/styles';
@import 'admin/users/users/styles';
@import 'admin/marketplaces/marketplace/styles';
@import 'admin/logisticOperators/logisticOperator/styles';
@import 'admin/drivers/driver/styles';
@import 'admin/drivers/drivers/styles';
@import 'admin/receivePackage/styles';
@import 'admin/sendPackage/styles';
@import 'admin/users/user/styles';
@import 'shared/serverErrorNotifications/styles';
@import 'shared/photoSelector/styles';
@import 'shared/home/styles';
@import 'shared/header/styles';
@import 'admin/changePasswordModal/styles';
@import 'front/changePasswordModal/styles';
@import 'admin/payments/payments/styles';
@import 'admin/payments/editPayment/styles';
@import 'front/payments/payments/styles';
@import 'front/payments/editPayment/styles';
@import 'admin/packages/packagesHistory/styles';
@import 'shared/idle/styles';
@import 'admin/packages/packages/_style.scss';
@import 'front/login/SocialLogin/_styles.scss';
@import 'admin/tracking/_styles.scss';
@import 'admin/massUpload/_styles.scss';
@import 'admin/dashboard/_styles.scss';
@import 'admin/recovery/_styles';
@import 'admin/workzone/workzone/styles.scss';
@import 'shared/shops/styles';
@import 'admin/zone/zone/_styles.scss';
@import 'admin/pickup/pickupPackages/_style.scss';
@import 'admin/pickup/pickupPackage/_styles.scss';
@import 'admin/pickup/pickupHistory/_styles.scss';
@import 'admin/pickup/massUploadPickup/_styles.scss';