<div angucomplete-alt
     id="{{id}}"
     name="{{name}}"
     placeholder=""
     maxlength="60"
     input-class="{{inputClass}}"
     override-suggestions="true"
     disabled-input="disabled"
     pause="100"
     selected-object="selected"
     initial-value="distributionZone"
     search-fields="description"
     remote-api-handler="searchApiHandler"
     title-field="description"
     minlength="2"
     input-class="form-control form-control-small"
     match-class="highlight"
     text-no-results="Sin resultados"
     text-searching="Buscando..."
>
</div>