.paquery-icon {
    background-position: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    top: 9px !important;
    position: absolute;
    left: 16px;
    width: 25px;
    padding: 13px 0;
}

.paquery-house {
    background-image: url('../../img/custom-icons/cean-and-white/A18-Home.png');
}

.paquery-users {
    background-image: url('../../img/custom-icons/cean-and-white/A16-Amigos.png');
}

.paquery-receive {
    background-image: url('../../img/custom-icons/cean-and-white/A37-Recibir.png');
}

.paquery-send {
    background-image: url('../../img/custom-icons/cean-and-white/A36-Enviar.png');
}

.paquery-drivers {
    background-image: url('../../img/custom-icons/cean-and-white/A44-Paquer.png');
}

.paquery-paquer {
    background-image: url('../../img/custom-icons/cean-and-white/A44-Paquer.png');
}

.paquery-packages {
    background-image: url('../../img/custom-icons/cean-and-white/A43-Caja.png');
}

.paquery-addresses {
    background-image: url('../../img/custom-icons/cean-and-white/A10-Enviar.png');
}

.paquery-notifications {
    background-image: url('../../img/custom-icons/cean-and-white/A17-Notificaciones.png');
}

.paquery-logs {
    background-image: url('../../img/custom-icons/cean-and-white/A12-Calendario.png');
}

.paquery-payments,
.paquery-money {
    background-image: url('../../img/custom-icons/cean-and-white/A29-Dinero.png');
}

.paquery-up-arrow {
    background-image: url('../../img/custom-icons/cean-and-white/A08-Flecha hacia arriba.png');
}

.paquery-exit-box {
    background-image: url('../../img/custom-icons/cean-and-white/A01-Caja salida.png');
}

.paquery-user {
    background-image: url('../../img/custom-icons/blue-and-white/C13-transparente-azul-Perfil.png');
}

.paquery-blue-user {
    background-image: url('../../img/custom-icons/blue/A13-Azul-Perfil.png');
}

.paquery-cean-white-user {
    background-image: url('../../img/custom-icons/cean-and-white/A13-Perfil.png');
}

.paquery-blue-privacity {
    background-image: url('../../img/custom-icons/blue/A17-Azul-Notificaciones.png');
}

.paquery-blue-settings {
    background-image: url('../../img/custom-icons/blue/A21-Azul-Ajustes.png');
}

.paquery-blue-logout {
    background-image: url('../../img/custom-icons/blue/A07-Azul-Flecha hacia la derecha.png');
}

.paquery-blue-ammount {
    background-image: url('../../img/custom-icons/blue/A30-Azul-Dinero.png');
}

.paquery-blue-credit-card {
    background-image: url('../../img/custom-icons/blue/A24-Azul-Tarjeta credito.png');
}

.paquery-blue-phone {
    background-image: url('../../img/custom-icons/blue/A20-Azul-Celular.png');
}

.paquery-password {
    background-image: url('../../img/custom-icons/blue-and-white/C38-transparente-Contraseña.png');
}

.paquery-cean-user {
    background-image: url('../../img/custom-icons/cean/B13-Verde-Perfil.png');
}

.paquery-cean-privacity {
    background-image: url('../../img/custom-icons/cean/B38-verde-Contraseña.png');
}

.paquery-cean-settings {
    background-image: url('../../img/custom-icons/cean/B21-Verde-Ajustes.png');
}

.paquery-cean-logout {
    background-image: url('../../img/custom-icons/cean/B07-Verde-Flecha-hacia-la-derecha.png');
}

.paquery-cean-ammount {
    background-image: url('../../img/custom-icons/cean/B30-Verde-Dinero.png');
}

.paquery-cean-credit-card {
    background-image: url('../../img/custom-icons/cean/B24-Verde-Tarjeta credito.png');
}

.paquery-cean-phone {
    background-image: url('../../img/custom-icons/cean/B20-Verde-Celular.png');
}

.paquery-cean-white-email {
    background-image: url('../../img/custom-icons/blue-and-white/C40-transparente-Contraseña.png');
}

.paquery-cean-white-phone {
    background-image: url('../../img/custom-icons/blue-and-white/C19-transparente-azul-Telefono.png');
}

.paquery-blue-packages {
    background-image: url('../../img/custom-icons/blue/A43-Azul-Caja.png');
}

.package-blue-white{
  background-image: url('../../img/package.png');
}

.paquery-blue-white-ok {
    background-image: url('../../img/custom-icons/blue-and-white/C47-transparente-ok.png');
}

.paquery-credit-card {
    background-image: url('../../img/custom-icons/cean-and-white/A24-Tarjeta-credito.png');
}

.paquery-logistic-operator {
    background-image: url('../../img/custom-icons/cean-and-white/A39-Camion.png');
}

.paquery-w3w {
    top: -12px !important;
    background-size: 45px;
    left: 0px;
    background-image: url('../../img/w3w.png');
}

.paquery-users-white {
    background-image: url('../../img/custom-icons/white/D16-transparente-Amigos.png');
}

.paquery-package-white {
    background-image: url('../../img/custom-icons/white/D43-transparente-Caja.png');
}

.paquery-paquer-white {
    background-image: url('../../img/custom-icons/white/D44-transparente-Paquer.png');
}