<div id="password-change">
    <div class="modal-header">
        <h4 class="modal-title">Seleccione una nueva contraseña</h4>
    </div>
    <form name="passwordForm">
      <div ng-if="vm.updating" class="modal-body">
          <p ng-show="vm.errorMessage" class="error-message" ng-bind="vm.errorMessage"></p>
          <p ng-show="vm.successChange" class="success-message">Contraseña cambiada correctamente</p>
          <dl class="dl-horizontal">
              <dt class="p-t-10">Antigua contraseña</dt>
              <dd>
                  <div class="fg-line">
                      <input ng-model="vm.oldPassword" type="password" class="form-control" autocomplete="off" required>
                  </div>
              </dd>
          </dl>
          <dl class="dl-horizontal">
              <dt class="p-t-10">Nueva contraseña</dt>
              <dd>
                  <div class="fg-line">
                      <input ng-model="vm.newPassword" type="password" class="form-control" autocomplete="off" required>
                  </div>
              </dd>
          </dl>
          <dl class="dl-horizontal">
              <dt class="p-t-10">Confirmar contraseña</dt>
              <dd>
                  <div class="fg-line">
                      <input ng-model="vm.newPasswordConfirmation" type="password" class="form-control" autocomplete="off" required>
                  </div>
              </dd>
          </dl>
      </div>
      <div ng-if="!vm.updating" class="modal-body new-password-container">
          <p ng-show="vm.errorMessage" class="error-message" ng-bind="vm.errorMessage"></p>
          <dl class="dl-horizontal">
              <dt class="p-t-10">Nueva contraseña</dt>
              <dd>
                  <div class="fg-line">
                      <input id="new-password-input" ng-model="vm.newPassword" type="password" class="form-control" autocomplete="off" required>
                  </div>
              </dd>
          </dl>
          <dl class="dl-horizontal">
              <dt class="p-t-10">Confirmar contraseña</dt>
              <dd>
                  <div class="fg-line">
                      <input ng-model="vm.newPasswordConfirmation" type="password" class="form-control" autocomplete="off" required>
                  </div>
              </dd>
          </dl>
      </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-link ok-button" ng-disabled="passwordForm.$invalid" ng-click="vm.ok()">OK</button>
        <button class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>