<div id="register-front" class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="lc-block lc-block-recovery" id="l-login">
            <div class="logo-container"><img src="img/logo-iso-blue.png">
                <div class="register-word"><em>Restablecer la contraseña</em></div>
            </div>
            <p class="text-left error-message" ng-show="vm.errorMessage" ng-bind="vm.errorMessage"></p>
            <form name="registerForm">
                <h5 class="post-social-text">Ingresá tu dirección de correo electrónico y en breve te enviaremos un enlace para restablecer tu contraseña.</h5>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="paquery-icon paquery-cean-white-email"></i></span>
                    <div class="fg-line">
                        <input type="email" class="form-control" ng-model="vm.email" placeholder="Email" required>
                    </div>
                </div>
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" ng-model="vm.tyc" required>-->
                        <!--<i class="input-helper"></i>Acepto los Términos y Condiciones.-->
                    <!--</label>-->
                <!--</div>-->
                <div class="clearfix"></div>
                <div class="login-btn-container m-b-20">
                    <button ng-click="vm.sendRecoveryPassword()" ng-disabled="!registerForm.$valid" class="btn bgm-green waves-effect login-button">Restablecer</button>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
