<section id="content" class="page-view ng-scope zone-detail-view">
  <div ng-cloack ng-show="vm.submitClicked ? !vm.isFormValid(zoneForm) : false"
  class="alert alert-danger alert-dismissible paquery-error-mesaje" role="alert">
  <span>{{vm.errorMessage}}</span>
</div>
<div>
  <div class="card ng-scope" id="profile-main">
    <div class="pm-overview c-overflow mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
    style="overflow: visible;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside"
    tabindex="0">
    <div id="mCSB_1_container"
    class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x mCS_y_hidden mCS_no_scrollbar_y"
    style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
    <div class="pmo-pic">
      <div photo-selector photo="" disable-selection="true"></div>
    </div>
  </div>
</div>
</div>
<div class="pm-body clearfix">
  <data class="ng-scope">
    <form name="zoneForm" novalidate>
      <div class="pmb-block ng-scope">
        <div class="pmbb-header">
          <h2><i class="zmdi zmdi-person m-r-5"></i>Zona</h2>
        </div>
        <div class="pmbb-body p-l-30">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Nombre</dt>
            <dd>
              <div class="fg-line"
              ng-class="{'has-error':  vm.submitClicked && zoneForm.nameInput.$invalid}">
              <input data-ng-model="vm.zone.name" type="text"
              class="form-control control-label" name="nameInput" required>
            </div>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt class="p-t-10">Codigo</dt>
          <dd>
            <div class="fg-line"
            ng-class="{'has-error':  vm.submitClicked && zoneForm.codeInput.$invalid}">
            <input data-ng-model="vm.zone.code" type="text"
            class="form-control control-label" name="codeInput" required>
          </div>
        </dd>
      </dl>

      <dl class="dl-horizontal">
        <dt class="p-t-10">Detalles</dt>
        <dd>
          <div class="fg-line"
          ng-class="{'has-error':  vm.submitClicked && zoneForm.detailInput.$invalid}">
          <input data-ng-model="vm.zone.detail" type="text"
          class="form-control control-label" name="detailInput" required>
        </div>
      </dd>
    </dl>
    <dd>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="vm.zone.active">
          <i class="input-helper"></i> Activo
        </label>
      </div>
    </dd>
    <dl class="dl-horizontal">
      <dt class="p-t-10">Zonas de Distribucion</dt>
      <dd>
        <div class="fg-line">
          <select chosen class="form-control" ng-model="vm.zone.dzone"
          ng-options="(dzone.name +'('+dzone.postalCode+')') for dzone in vm.distributionZones track by dzone.id"
          data-placeholder="Seleccione una zona de distribucion..."></select>
          <button class="btn btn-primary waves-effect"
          ng-click="vm.addZone()">Añadir
        </button>
      </div>
    </dd>
  </dl>

  <dl class="dl-horizontal">
    <dd>
      <paquery-polygon-map stopdrag="true" origin-id="'origin-address'"
      origin="vm.origin.addressInformation" destiny="vm.destiny.addressInformation" waypoints="vm.waypoints"
      destiny-w3w="vm.destiny.addressInformation.w3w" origin-w3w="vm.origin.addressInformation.w3w" wizard-step="2"
      single-marker="vm.singleMarker" just-show="true" geometry="vm.zone.geometry"
      paquer-position="vm.package.geolocation"></paquery-polygon-map>

    </dd>
  </dl>
  <div style="width:100%">
    <div class="list-item-selector-container" ng-repeat="dzone in vm.zone.distributionZones">
      <span class="list-item-name-container ng-binding" ng-bind="dzone.name + '(' + dzone.postalCode +')'"></span>
      <a class="zmdi zmdi-close-circle" ng-click="vm.removeZone(dzone)"></a>
    </div>
  </div>
</div>
</div>
</form>
<div class="row save-buttton-container">
  <button class="btn btn-default waves-effect" ui-sref="admin.zones">Cancelar</button>
  <button class="btn btn-primary waves-effect" ng-click="vm.save(zoneForm)">Guardar</button>
</div>
</data>
</div>
</div>
</div>
</section>
