<div angucomplete-alt
     id="{{id}}"
     name="{{name}}"
     placeholder=""
     maxlength="250"
     input-class="{{inputClass}}"
     disabled-input="disabled"
     pause="100"
     selected-object="selectedAddress"
     initial-value="address"
     search-fields="customLabel"
     remote-api-handler="searchApiHandler"
     title-field="customLabel"
     minlength="2"
     input-class="form-control form-control-small"
     match-class="highlight"
     text-no-results="Sin resultados"
     text-searching="Buscando..."
>
</div>