#paqueryMapContainer {
  width: 97.5%;
  margin-left: 15px;
  background:grey;
  max-width: none;
}


.paqueryCommonMap {
  height: 700px;

}

.paqueryMiniMap {
  height: 350px;
}

.here-maps img {
  max-width: none;
}